<div class="container">
  <div class="col-md-12">
    <div class="container">
      <form #userInput="ngForm" (ngSubmit)="onSave(userInput.value)">
        <mat-form-field class=" pt-5 pb-2 text-center">
          <input matInput class="p-2" name="todo" ngModel />
        </mat-form-field>
        <div class="text-center">
          <button
            type="submit"
            mat-raised-button
            class="col-md-6 text-center"
            style="font-size: 22px;font-weight: bold;"
          >
            Save
          </button>
        </div>
      </form>
    </div>
    <div
      class="col-md-12 justify-content-center pr-5 pl-5 pt-2"
      *ngFor="let todo of todoList"
    >
      <mat-card
        class="pr-5 pl-5 pt-2 pb-2"
        style="background-color: white;font-weight: bold;font-size: 20px;color: gray;"
        >{{todo.Title}}</mat-card
      >
    </div>
  </div>
</div>
